footer {
	padding-top: 2em;
	padding-bottom: 2em;
	/* background: var(--clr-darker); */
}

footer .logo {
	margin-bottom: 1em;
}

footer .ico_list {
	font-size: 0.9em;
}

@media(min-width: 700px) {
	footer .ico_list {
			gap: 3em;
		}
}

footer .copyright {
	font-size: 0.8em;
	color: var(--clr-mid);
}