/* ============== TOP NAVIGATION BAR ============ */

.logo {
	font-size: 1.2em;
	font-weight: bold;
	font-family: Lora, serif;
	color: var(--clr-highlight);
}

header {
	min-height: 74px;
}

header .crumb {
	margin-left: 2px;
	color: var(--clr-mid);
	opacity: 0.4;
	font-family: Lora, serif;
	font-size: 1.2em;
}

header nav a {
	margin-left: 2em;
}

header a:not(.logo) {
	font-weight: bold;
}
