<section class="block blogslist">
    {% for blog in blogposts | trimArray(30) %}
		<a href="{{ blog.url | url }}" class="card nostyle">
			<div class="thumb" style="background-image: url({% Image blog.data.image, 'Image', false, '', true %})"></div>
			<article>
				<h4>{{ blog.data.title }}</h4>
				<p>
					{{ (blog.data.page.excerpt or blog.data.description) | truncate(250) }}
					<div class="taglist flex mono">
						{% for tag in blog.data.tags %}
							<span class="post-tag">#{{ tag }}</span>
						{% endfor %}
					</div>
				</p>
				<div class="layout horizontal center">
					<div class="flex">
						<time datetime="{{ blog.date | dateFormat('yyyy-mm-dd') }}">{{ blog.date | dateFormat('MMM d, yyyy') }}</time>
					</div>
					<small class="bold">Read More&nbsp;{% svgico 'arrow-circle-right' %}</small>
				</div>
			</article>
		</a>
    {% endfor %}

</section>

{% if pagination.pages.length > 1 %}
	<section class="block pagination layout horizontal around-justified flex wrap center-center" aria-labelledby="pagination">
		{# <a href="{{ pagination.href.first }}">&lt;&lt; First</a> #}
		<a class="icolink" href="{{ pagination.href.previous }}"{% if pagination.pageNumber == 0 %} disabled{% endif %}>{% svgico 'arrow-circle-left' %}&nbsp;Previous</a>

		<span>Page {{ pagination.pageNumber + 1 }} of {{ pagination.pages.length }}</span>

		<a class="icolink" href="{{ pagination.href.next }}"{% if pagination.pageNumber == pagination.pages.length - 1 %} disabled{% endif %}>Next&nbsp;{% svgico 'arrow-circle-right' %}</a>
		{# <a href="{{ pagination.href.last }}">Last &gt;&gt;</a> #}
	</section>
{% endif %}