<footer class="layout horizontal center-center">
	<div class="layout vertical">
		{# <span class="logo">{{ website.author }}</span> #}
		{% include 'social_icons.njk' %}
	</div>
	{# <span class="flex"></span>
	<span class="copyright">© { % thisYear % }</span> #}
</footer>

