<header class="layout horizontal center" role="navigation">

	<a class="logo" href="/">{{ website.title }}/</a>{% if breadcrumb %}<a class="nostyle crumb" href="/{{ breadcrumb }}">{{ breadcrumb }}</a>{% endif %}

	<span class="flex"></span>

	<nav role="navigation">
		<a href="/notes">Notes</a>
		<a href="/blog">Blog</a>
		{% if website.github_current_repo %}
			<a href="{{ website.github_current_repo }}" title="Available on GitHub" target="_blank" rel="noopener">{% svgico 'github' %}</a>
		{% endif %}
	</nav>

</header>
