<header class="layout horizontal center" role="navigation">

	<a class="logo" href="/">{{ website.title }}</a>{% if breadcrumb %}<span class="crumb">{{ breadcrumb }}</span>{% endif %}

	<span class="flex"></span>

	<nav role="navigation">
		<a href="/blog">Blog</a>
		<a href="/notes">Notes</a>
	</nav>

</header>
