<header class="layout horizontal center" role="navigation">

	<a class="logo" href="/">{{ website.title }}/</a>{% if breadcrumb %}<a class="nostyle crumb" href="/{{ breadcrumb }}">{{ breadcrumb }}</a>{% endif %}

	<span class="flex"></span>

	<nav role="navigation">
		<a href="/notes">Notes</a>
		<a href="/blog">Blog</a>
	</nav>

</header>
