<nav class="note-tag-menu">
	<label for="nvtgs" title="Filter by Tags">{% svgico 'bars' %}<span>TAGS</span></label>
	<input type="checkbox" id="nvtgs">
	<ul class="menu mono">
		<li {% if not tag %}selected{% endif %}><a href="/notes" class="nostyle">ALL NOTES</a></li>
		{% for _tag in collections.notetags %}
			<li {% if tag==_tag %}selected{% endif %}><a href="/notes/tags/{{ _tag }}" class="nostyle"><span class="hash">#</span>{{ _tag }}</a></li>
		{% endfor %}
	</ul>
</nav>