<section class="block noteslist">
    {% for note in technotes | trimArray(30) %}
		<a href="{{ note.url | url }}" class="nostyle note-tr">
			<div class="note-title"><span class="emoji">{{ note.data.emoji or '🗒' }}</span>{{ note.data.title }}</div>
			<div class="note-meta">
				<div class="taglist mono">
					{% for tag in note.data.tags | trimArray(3) %}
						<span class="post-tag">#{{ tag }}</span>&nbsp;
					{% endfor %}
				</div>
				<time datetime="{{ note.date | dateFormat('yyyy-mm-dd') }}">{{ note.date | dateFormat('MMM d, yyyy') }}</time>
			</div>
		</a>
    {% endfor %}

</section>

{% if pagination.pages.length > 1 %}
	<section class="block pagination layout horizontal around-justified flex wrap center-center" aria-labelledby="pagination">
		{# <a href="{{ pagination.href.first }}">&lt;&lt; First</a> #}
		<a class="icolink" href="{{ pagination.href.previous }}"{% if pagination.pageNumber == 0 %} disabled{% endif %}>{% svgico 'arrow-circle-left' %}&nbsp;Previous</a>

		<span>Page {{ pagination.pageNumber + 1 }} of {{ pagination.pages.length }}</span>

		<a class="icolink" href="{{ pagination.href.next }}"{% if pagination.pageNumber == pagination.pages.length - 1 %} disabled{% endif %}>Next&nbsp;{% svgico 'arrow-circle-right' %}</a>
		{# <a href="{{ pagination.href.last }}">Last &gt;&gt;</a> #}
	</section>
{% endif %}