<section class="intro layout vertical center-center txt-center">
	<h1 class="main-header">{{ website.intro }}</h1>

	<p>{{ website.about }}</p>

	{% include 'social_icons.njk' %}

	{% Image "/assets/img/abhi-bw.jpg", "Profile Photo", false, "profilepic" %}
</section>
