<section class="intro layout vertical center-center txt-center">
	<h1 class="main-header">{{ website.intro }}</h1>

	<p>{{ website.about }}</p>

	{% include 'social_links.njk' %}

	{% Image "/assets/img/abhi-bw-400.jpg", website.author + "'s profile photo", false, "profilepic" %}
</section>
