<section class="skills">
	<div class="h3">Tech I Think In</div>

	{% for skillcategory in skills %}
		<div class="category" {{ 'highlight' if skillcategory.highlight else '' }}>{{ skillcategory.category }}</div>
		<ul>
		{% for skillsection in skillcategory.sections %}
			<li>
				<div class="list">{{ skillsection.title }}:&nbsp;<span>{{ skillsection.skills | join(", ") }}</span></div>
			</li>
		{% endfor %}
		</ul>
	{% endfor %}

</section>
