<div class="ico_list">
	{% for social in website.social_profiles -%}
		{% if social.hide != true %}
			<a href="{{ social.url }}" target="_blank" rel="noopener me" title="{{ social.msg or 'Connect with me' }}">{% svgico social.ico %}</a>
		{% endif %}
	{%- endfor %}
</div>