---
breadcrumb: notes
section_title: Notes
---

{% extends "./base.njk" %}

{# Ideally set through eleventyComputed in front-matter but not working. Bug? #}
{% set description = (description or "Coding notes and recipes. My second brain.") | trim %}
{% set keywords = (keywords or "note") + ',blog,' + (tags and tags.join(",")) %}

{% block head %}
	<link rel="index" href="{{ env.BASE_URL }}/notes/">
	<link rel="prefetch" href="/notes" />
{% endblock %}

{% block custom_style %}
	{{ css_blog | cssmin | safe }}
	{{ css_notes | cssmin | safe }}
{% endblock %}

{% block main %}
	<section class="block header">
		<h1>{{ title }}</h1>
		<div class="intro-meta">
			<span><time>{{ date | dateFormat('MMM d, yyyy') }}</time></span>
			<span>{% svgico 'clock-o' %} {{ content | readingTime }} read</span>
		</div>
	</section>
	<section class="block">
		<article class="post-body">
			{% if links %}
				<blockquote class="directlinks">
					<strong>{% svgico 'chain' %} Direct Links:</strong>
					<ul>
					{% for _lnk in links %}
						<li><a href="{{_lnk}}" target="_blank" rel="noopener">{{_lnk | shortURL}}</a></li>
					{% endfor %}
					</ul>
				</blockquote>
			{% endif %}

			{{ content | safe }}
		</article>
	</section>

	<section class="block blog-footer">
		<div class="title">Filed Under</div>
		{% for item in tags %}
			<a class="button mono" href="/blog/tags/{{item}}/">#{{ item }}</a>
		{% endfor %}
	</section>

	<section class="block">
		<a class="button outline" href="/notes/">{% svgico 'arrow-circle-left' %}<span>All Notes</span></a>
		{% if website.github_main_branch %}
			<a class="button outline" href="{{ website.github_main_branch }}/{{ page.inputPath }}" target="_blank">{% svgico 'pencil' %}<span>Suggest Edit</span></a>
		{% endif %}
	</section>
{% endblock %}
