{% extends "./base.njk" %}

{% block custom_style %}
	{{ css_blog | cssmin | safe }}
{% endblock %}

{% block main %}
    <section class="block">
        <h1>{{ title }}</h1>
		{% if image %}
			<img src="{{ image }}">
		{% endif %}
        <p>{{ content | safe }}</p>
    </section>
{% endblock %}