---
permalink: robots.txt
eleventyExcludeFromCollections: true
---
# www.robotstxt.org

User-agent: *
Disallow: /admin/
Disallow: /build.txt
Disallow: /404.html
Disallow: /tools/chat/

Sitemap: {{ env.BASE_URL }}/sitemap.xml
